html {
  background-color: white;
  font-family: 'Times New Roman';
}
/*
container for all
*/

.container-sec {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-Nav {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  position: fixed;
  top: 0%;
}
#gra {
  position: fixed;
  right: 35%;
  left: 35%;
  top: 0%;
  width: 220px !important;
  height: 10% !important;
}
.space {
  position: fixed;
  left: 15%;
  top: 0%;
}
.log {
  position: fixed;
  right: 0%;
  top: 0%;
  background-color: rgb(50, 50, 104);
  padding: 3px;
  border: 1px black;
  border-radius: 5px;
  color: white;
}
.sub {
  position: fixed;
  right: 8%;
  top: 0%;
  background-color: rgb(60, 60, 107);
  padding: 3px;
  border: 1px black;
  border-radius: 5px;
  color: white;
}
/*
main section
*/
.social {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
}
.socialIm {
  height: 30px !important;
  width: 30px !important;
}
.main-sec {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/*
main one starts here 
*/
.mainOne {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}
/*
main one end here
*/
/*
main two starts here
*/
.mainTwo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 3%;
  margin-right: 3%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainTwoTop {
  display: flex;
  justify-content: center;
}
.mainTwoBottom {
  display: flex;
  justify-content: center;
}
.mainTwoBottomArt {
  display: flex;
  flex-direction: column;
}
.mainTwoTopONe {
  display: flex;
  flex-direction: column;

}
.mainTwoTopTwo {
  display: flex;
  flex-direction: column;
}
/*
main two ends here
*/
.mainThree {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
}
/*
main three ends here
*/
/* 
suggestions main starts here 
*/
.suggestions-sec {
  display: flex;
  justify-content: space-between;
}
.inner-sugOne {
  display: flex;
  flex-direction: column;
}
.topSug {
  display: flex;
}
.topSugArt {
  display: flex;
  flex-direction: column;
}
.spaceAndAstronomy {
  display: flex;
  flex: 2.7;
  justify-content: space-between;
  flex-direction: column;
}
.spaceAndAstronomyInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spaceAndAstronomyArt {
  display: flex;
  flex-direction: column;
}
.Eiditor {
  display: flex;
}
.EditorArt {
  display: flex;
  flex-direction: column;
  
}
.ev {
  font-size: 15px;
  border-top: 1px black;
}
#fh {
  font-size: 45px;
  text-align: center;
  position: relative;
  right: 305;
  font-style: italic;
}
.mostPopSec {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  font-size: 10px !important;
}
footer {
  display: flex;
  flex-direction: column;
  margin-right: 0%;
}
.new {
  display: flex;
  flex-direction: column;
}

img {
  height: 150px;
  width: 150px;
margin-right: -10%;
}
.mostImpo {
  height: 400px;
  width: 100%;
  margin-right: 0%;
}
.impicO {
  height: 500px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.artof {
  text-align: center;
}
.infp {
  padding-left: 10% !important;
  font-size: 10px !important;
}
.lastSec {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-left: 10%;
  flex-wrap: wrap;
  align-items: center;
}
.infph {
  font-size: 15px !important;
  position: relative;
  right: -5%;
}
p {
  font-size: 20px;
}
.hrsection {
  display: flex;
}
.plast {
  font-size: 10px !important;
}
.insp {
  font-size: 14px !important;
}
.infm {
  position: relative;
  font-size: 17px;
}
.sugim {
  height: 220px !important;
  width: 240px !important;
}
.lty {
  border-left: 3px black;
}
a {
  text-decoration: none;
  color: rgb(155, 146, 146) !important;
}